.opening-menu{
    text-align: center;
    table-layout: auto;
    border-color: aqua;
    font-family: "Corbel Light", sans-serif;
    color: white;
}

.title{
    text-align: center;
    table-layout: auto;
    border-color: black;
    font-family: "Roboto Mono", serif;

}

.body-class{
    color: beige;
    font-weight: bold;
    background: black url("../resources/SNIwallpaper.jpg");
    background-size: auto;

}

.list-products{
    border: 2px cadetblue;
    font-family: "Roboto Mono", serif;
    background-color: beige;
    background-blend-mode: luminosity;
    text-align: center;
    vertical-align: center;
}

