.opening-menu{
    text-align: center;
    table-layout: auto;
    border-color: aqua;
    font-family: "Corbel Light", sans-serif;
    color: white;
}

.title{
    text-align: center;
    table-layout: auto;
    border-color: black;
    font-family: "Roboto Mono", serif;

}

.body-class{
    color: beige;
    font-weight: bold;
    background: black url("SNIwallpaper.jpg");
    background-size: auto;

}

.list-products{
    border-collapse: collapse;
    border: 1px solid black;
    font-family: "Roboto Mono", serif;
    background-color: beige;
    text-align: center;
    vertical-align: center;
}

.add-product{
    font-family: "Roboto Mono", serif;
    background-color: beige;
    text-align: center;
    vertical-align: center;
}

.options{
    text-decoration: none;
    color: beige;
}
a, u {
    text-decoration: none;
}


